# Cloudflare Tunnel token secret
# Get token from: terraform output -raw tunnel_token (in cloudflared-shangkuei-lab)
#
# To create encrypted secret:
# 1. Copy this file: cp secret-tunnel-credentials.enc.yaml.example secret-tunnel-credentials.enc.yaml
# 2. Fill in the token from terraform output
# 3. Encrypt: make encrypt
#
# Token-based authentication:
# - cloudflared connects using the token and fetches ingress config from Cloudflare API
# - Ingress rules are managed centrally in Terraform (cloudflare_zero_trust_tunnel_cloudflared_config)
# - No local config file needed
apiVersion: v1
kind: Secret
metadata:
    name: cloudflared
    namespace: cloudflared
type: Opaque
stringData:
    #ENC[AES256_GCM,data:twXWd8PQcm9s2e+SpGOIGQMY0TMa01X9W1HxxWfj8i93YwKebf2BA7E+QymTQFJwT1ck3oyi,iv:ukgyPmWD9zpqKNIF6A0ypGjIvxJih+BfSprglvtDYwI=,tag:EycVFgtA+imtgKrvMZ4/Og==,type:comment]
    token: ENC[AES256_GCM,data:WeZf4tbMt5tJJZmtW8v0O5lnawE6TMPsvsay3eVHSEU/Saq0Gtfn30Ba4EDM9+U9BZ1bjrfo6ZjOMpb3B0ePu1akam97fBG1sjtkuTEPKatWdF+Zs/MsHctN3trHzUcqq/pzl7eu6So4Gz8UfdReJA5OqTZfUehmuK4JkzD5v/mN4cIQAVmjuuWDrkvnhxyHnEj4seeEzZPshmv/x7LPZkb/y5CHREiqRdzIg0He8dkSrn1K,iv:sInBhVtZqKYh9RdLyB6sKm18CwAHMD5VRRqLr6b7Dzs=,tag:XqoyXgxj6Yj3ksNZD0Jo7Q==,type:str]
sops:
    age:
        - recipient: age169cuuq59c5dzagy3j70h7ul0q5meeqvmdc84vx4ffwg6ptxsgdvshem39p
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBtbDEyYVAxTkIzQ2ljenQz
            eFN2T3NBeDd6Rld0bUJ0aUZTamdleFZWSUhJCkd3TTRDS05nZFc4TEZJNEFieEpy
            Q1FlMkJTcmJLL08vZHFTbSsvZTFCMWsKLS0tIG8rSlljWm12Wm5yaENrTi9xdlFr
            OVN1UExsNmhHc2xRNDM5ZXFlemQwTXcK+TGuU3NLnJWLPO9IE2UiBHKn4UDLJEEt
            KL/kxwb6Q5y0u4OxFFonvplOug0AdwNg5rrgSPPm7/A9+7HzYjaZCQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-22T04:59:44Z"
    mac: ENC[AES256_GCM,data:FiA8llVOmAnUAKfCZ98Y8fn0gvzwK0Ej60g4ojyRvl8cX9X56yeXrReEFjfpOqobMETNoLvGYUtRkB5pnGlycpMtPkWAS5O/Xx3R+tQN3vdMujkxGeS+X9dyx1xzssIUSVySQ0NVg6ov00JiYX4Rjw21M04/6VAfdroTfGyh2F8=,iv:JVIVhvRKTj5i7IJgg5bVGpQ2LRW02LD0cWtCEoE0smE=,tag:ClAXpwqD2nfkKWUjSxhIow==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
