# PLACEHOLDER - Update with real values from: terraform output
# Then encrypt: sops -e -i secret-tunnel-credentials.enc.yaml
apiVersion: v1
kind: Secret
metadata:
    name: cloudflared
    namespace: cloudflared
type: Opaque
stringData:
    credentials.json: ENC[AES256_GCM,data:sngyNjDIMadd3xIihT37cx0GCHyrjF5+EuKdikW20Zgezo0vdEdLLozPmMhLluBuiUWXnC3b0btbqNjMOC5BFRE4haSsHpEeJoE36Xvg9WM/eLzNWdXIm8Fq4x9Le4vNBbj2u9LmvJN/Wa3LhNSOaKtJumB+64Mi58qPdY4LipMUwPcFb02UTQ1yF/LQhAbUV2fewJUXEwW9cJhSL6O8PZTWaTweXXleJj1eaatCSiwjtsnTnw==,iv:X14IWZpfrOk85PPPVr4qHudP4OrSLiwSgKe6YcZY61Q=,tag:Bkl9TBG4/wOOckLs0W3QJw==,type:str]
sops:
    age:
        - recipient: age169cuuq59c5dzagy3j70h7ul0q5meeqvmdc84vx4ffwg6ptxsgdvshem39p
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB1WHpCR0g3elhjb0dEbHNs
            bTVteTBrMjBNNW1hOU1uMWtkMzZ5VHN3dkNJClFaelc5T1lDSWhGNnlrb0lnN3dR
            SUV4YTA0bUZJeFBudzNYTlg1SEtTelEKLS0tIE5LN0tESnRxOTRmcFZEVmtDYXpa
            ai83dU5yS0ZBY1lxbkh2dHNueGJSS3cK15Tw7W4S1Gn1sRMD7bAN6esgyp2+ujRX
            NvOFF0GvAdezwAkaKEfhcIm2mb+Zy8RIsvjdGOE0NhgPtAXNYWEl7w==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-21T07:30:49Z"
    mac: ENC[AES256_GCM,data:v/vpCMrEfpCbO7mbfuZSZioBd+/U4hjiN7eAvLaCkeeNakN+Tqvo33W8pVWDOv/hdUYIUogMNLT4fdZq/GiqfBdEUOd2V7UU2IPaiMH9jHL1EUH5EPRul7UUjhsvMa4KiVQYEAJigVkjAaGnXJy15eZSSFCVAJcsgXYrwO72QDU=,iv:pJlcZ/mK+vSaNTWsQbvyB/rIw3Dz5sRxRy6dZSB0HUQ=,tag:dLvuO42ZXcNSYwA5SJyxng==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
