---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Base Flux instance configuration
resources:
  - ../../../base/flux-instance
  # SOPS-encrypted secrets for Flux (decrypted by kustomize-controller)
  - ../../../overlays/flux-instance/shangkuei-dev/secret-sops-age.enc.yaml
  - ../../../overlays/flux-instance/shangkuei-dev/secret-flux-git-credentials.enc.yaml

# Inherit labels from base
labels:
  - pairs:
      app.kubernetes.io/name: flux
      app.kubernetes.io/instance: flux-system
      app.kubernetes.io/managed-by: flux-operator
    includeSelectors: true

# Patch FluxInstance for shangkuei-dev cluster
patches:
  # Patch sync path to point to shangkuei-dev cluster directory
  - patch: |-
      - op: replace
        path: /spec/sync/path
        value: kubernetes/clusters/shangkuei-dev
    target:
      kind: FluxInstance
      name: flux
  # Enable SOPS decryption for flux-system Kustomization
  - patch: |-
      - op: add
        path: /spec/kustomize/patches
        value:
          - patch: |
              - op: add
                path: /spec/decryption
                value:
                  provider: sops
                  secretRef:
                    name: sops-age
            target:
              kind: Kustomization
              name: flux-system
    target:
      kind: FluxInstance
      name: flux
