[submodule "makefiles"]
	path = makefiles
	url = https://github.com/shangkuei/makefiles
[submodule "terraform/modules"]
	path = terraform/modules
	url = https://github.com/shangkuei/terraform-modules.git
