---
# ArgoCD Operator ClusterExtension (OLM v1)
# GitOps continuous delivery tool for Kubernetes
# Source: operatorhubio catalog
# Docs: https://operatorhub.io/operator/argocd-operator
apiVersion: olm.operatorframework.io/v1
kind: ClusterExtension
metadata:
  name: argocd-operator
spec:
  # Install from OperatorHub catalog
  source:
    sourceType: Catalog
    catalog:
      packageName: argocd-operator
      version: "^0.15.0"  # Minimum version with automatic upgrades
      channels:
        - alpha # Use alpha release channel
      # Use the operatorhubio ClusterCatalog
      selector:
        matchLabels:
          olm.operatorframework.io/metadata.name: operatorhubio

  # Namespace scoping - install for all namespaces
  namespace: argocd

  # Service account for the operator
  serviceAccount:
    name: argocd-operator-installer
