---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../base/seaweedfs-operator

labels:
  - pairs:
      app.kubernetes.io/instance: shangkuei-lab
      app.kubernetes.io/environment: lab

# Disable helm chart's ServiceMonitor - it doesn't support additionalLabels in template
# Custom ServiceMonitor created in monitor-cluster overlay with correct labels for Alloy
patches:
  - patch: |-
      - op: replace
        path: /spec/values/serviceMonitor/enabled
        value: false
      # Resources based on VPA recommendations (target: 15m/34Mi)
      - op: replace
        path: /spec/values/resources
        value:
          limits:
            cpu: 200m
            memory: 256Mi
          requests:
            cpu: 25m
            memory: 64Mi
      # Enable metrics endpoint (disabled by default: --metrics-bind-address=0)
      # Required for ServiceMonitor in monitor-cluster to scrape operator metrics
      - op: add
        path: /spec/postRenderers
        value:
          - kustomize:
              patches:
                - target:
                    kind: Deployment
                    name: seaweedfs-operator
                  patch: |-
                    - op: add
                      path: /spec/template/spec/containers/0/args/-
                      value: --metrics-bind-address=:8080
    target:
      kind: HelmRelease
      name: seaweedfs-operator
