---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Base Flux instance configuration
resources:
  - ../../../base/flux-instance
  # SOPS-encrypted secrets for Flux (decrypted by kustomize-controller)
  - ../../../overlays/flux-instance/shangkuei-xyz-talos-sops/secret-sops-age.yaml.enc
  - ../../../overlays/flux-instance/shangkuei-xyz-talos-sops/secret-flux-git-credentials.yaml.enc

# Inherit labels from base
labels:
  - pairs:
      app.kubernetes.io/name: flux
      app.kubernetes.io/instance: flux-system
      app.kubernetes.io/managed-by: flux-operator
    includeSelectors: true

# Patch FluxInstance to enable SOPS decryption for flux-system Kustomization
patches:
  - patch: |-
      - op: add
        path: /spec/kustomize/patches
        value:
          - patch: |
              - op: add
                path: /spec/decryption
                value:
                  provider: sops
                  secretRef:
                    name: sops-age
            target:
              kind: Kustomization
              name: flux-system
    target:
      kind: FluxInstance
      name: flux
