---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - fluxinstance-flux-system.yaml

labels:
  - pairs:
      app.kubernetes.io/name: flux
      app.kubernetes.io/instance: flux-system
      app.kubernetes.io/managed-by: flux-operator
