---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: edatw-salary-mailman

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - deployment.yaml
  - service.yaml

labels:
  - pairs:
      app.kubernetes.io/name: salary-mailman
      app.kubernetes.io/component: web
