---
apiVersion: v1
kind: Service
metadata:
  name: salary-mailman
  namespace: edatw-salary-mailman
  labels:
    app: salary-mailman
    component: web
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: salary-mailman
    component: web
