---
# Alertmanager ClusterRoleBinding - Binds ClusterRole to ServiceAccount
# Allows Alertmanager to discover endpoints for HA clustering
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: alertmanager
  labels:
    app.kubernetes.io/instance: prometheus-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: alertmanager
    app.kubernetes.io/part-of: kube-prometheus-stack
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: alertmanager
subjects:
  - kind: ServiceAccount
    name: alertmanager
    namespace: monitoring
