---
# Loki datasource for Grafana (grafana-operator managed)
# Connects to Loki log aggregation system with multi-tenant mode
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: loki
  namespace: monitoring
spec:
  # Target Grafana instance by label
  instanceSelector:
    matchLabels:
      datasources: grafana

  # Allow this datasource to be referenced by Grafana instance
  allowCrossNamespaceImport: true

  datasource:
    name: Loki
    type: loki
    access: proxy
    url: http://loki-gateway.monitoring.svc.cluster.local
    isDefault: false
    editable: false
    jsonData:
      # Maximum number of lines to return
      maxLines: 1000
      # Multi-tenant mode: Set X-Scope-OrgID header
      httpHeaderName1: X-Scope-OrgID
      # Derived fields for trace correlation (future: link to Tempo)
      derivedFields: []
    secureJsonData:
      # Multi-tenant organization ID
      httpHeaderValue1: shangkuei-lab
