---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus
  namespace: monitoring
  labels:
    app.kubernetes.io/instance: prometheus-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/part-of: kube-prometheus-stack
automountServiceAccountToken: true
