---
# SeaweedFS Operator metrics ServiceMonitor
# Scrapes metrics from seaweedfs-operator controller
# Note: Helm chart's ServiceMonitor template doesn't support additionalLabels, so we create our own
# Reference: https://github.com/seaweedfs/seaweedfs-operator

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/name: seaweedfs-operator
    app.kubernetes.io/component: operator
    app.kubernetes.io/part-of: monitoring
    app.kubernetes.io/managed-by: kustomize
    prometheus.io/scrape-by: alloy
  name: seaweedfs-operator
  namespace: monitoring
spec:
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s
      relabelings:
        - action: replace
          replacement: shangkuei-lab
          targetLabel: cluster
        - action: replace
          replacement: seaweedfs-operator
          targetLabel: job
      metricRelabelings:
        # Drop go runtime metrics
        - action: drop
          regex: go_(gc|sched)_.*_bucket
          sourceLabels:
            - __name__
        - action: drop
          regex: go_godebug_.*
          sourceLabels:
            - __name__
  jobLabel: app.kubernetes.io/name
  namespaceSelector:
    matchNames:
      - seaweedfs
  selector:
    matchLabels:
      app: seaweedfs-operator

---
# SeaweedFS metrics ServiceMonitor
# Scrapes Prometheus metrics from SeaweedFS master, volume, and filer components
# Uses dedicated metrics ports (created by operator when metricsPort is set in Seaweed CR)
# Note: Operator also creates ServiceMonitors in seaweedfs namespace (without alloy label)
# Reference: https://github.com/seaweedfs/seaweedfs/wiki/System-Metrics

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/name: seaweedfs
    app.kubernetes.io/component: master
    app.kubernetes.io/part-of: monitoring
    app.kubernetes.io/managed-by: kustomize
    prometheus.io/scrape-by: alloy
  name: seaweedfs-master
  namespace: monitoring
spec:
  endpoints:
    # Dedicated metrics port (9324) - same as operator-created ServiceMonitor
    - port: master-metrics
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s
      relabelings:
        - action: replace
          replacement: shangkuei-lab
          targetLabel: cluster
        - action: replace
          replacement: seaweedfs-master
          targetLabel: job
      metricRelabelings:
        # Drop go runtime metrics
        - action: drop
          regex: go_(gc|sched)_.*_bucket
          sourceLabels:
            - __name__
        - action: drop
          regex: go_godebug_.*
          sourceLabels:
            - __name__
  jobLabel: app.kubernetes.io/component
  namespaceSelector:
    matchNames:
      - seaweedfs
  selector:
    matchLabels:
      app.kubernetes.io/component: master
      app.kubernetes.io/instance: seaweedfs

---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/name: seaweedfs
    app.kubernetes.io/component: volume
    app.kubernetes.io/part-of: monitoring
    app.kubernetes.io/managed-by: kustomize
    prometheus.io/scrape-by: alloy
  name: seaweedfs-volume
  namespace: monitoring
spec:
  endpoints:
    # Dedicated metrics port (9325) - same as operator-created ServiceMonitor
    - port: volume-metrics
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s
      relabelings:
        - action: replace
          replacement: shangkuei-lab
          targetLabel: cluster
        - action: replace
          replacement: seaweedfs-volume
          targetLabel: job
      metricRelabelings:
        # Drop go runtime metrics
        - action: drop
          regex: go_(gc|sched)_.*_bucket
          sourceLabels:
            - __name__
        - action: drop
          regex: go_godebug_.*
          sourceLabels:
            - __name__
        # Drop sparse histogram buckets for request duration (1-32ms)
        - action: drop
          regex: SeaweedFS_(volumeServer|s3|filerStore)_request_seconds_bucket;(0.001|0.002|0.004|0.008|0.016|0.032)(\.0)?
          sourceLabels:
            - __name__
            - le
  jobLabel: app.kubernetes.io/component
  namespaceSelector:
    matchNames:
      - seaweedfs
  selector:
    matchLabels:
      app.kubernetes.io/component: volume
      app.kubernetes.io/instance: seaweedfs

---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/name: seaweedfs
    app.kubernetes.io/component: filer
    app.kubernetes.io/part-of: monitoring
    app.kubernetes.io/managed-by: kustomize
    prometheus.io/scrape-by: alloy
  name: seaweedfs-filer
  namespace: monitoring
spec:
  endpoints:
    # Dedicated metrics port (9326) - same as operator-created ServiceMonitor
    - port: filer-metrics
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s
      relabelings:
        - action: replace
          replacement: shangkuei-lab
          targetLabel: cluster
        - action: replace
          replacement: seaweedfs-filer
          targetLabel: job
      metricRelabelings:
        # Drop go runtime metrics
        - action: drop
          regex: go_(gc|sched)_.*_bucket
          sourceLabels:
            - __name__
        - action: drop
          regex: go_godebug_.*
          sourceLabels:
            - __name__
        # Drop sparse histogram buckets for request duration (1-32ms)
        - action: drop
          regex: SeaweedFS_(volumeServer|s3|filerStore)_request_seconds_bucket;(0.001|0.002|0.004|0.008|0.016|0.032)(\.0)?
          sourceLabels:
            - __name__
            - le
  jobLabel: app.kubernetes.io/component
  namespaceSelector:
    matchNames:
      - seaweedfs
  selector:
    matchLabels:
      app.kubernetes.io/component: filer
      app.kubernetes.io/instance: seaweedfs
