---
# Additional ClusterRole for SeaweedFS Operator to create ServiceMonitors
# Required when metricsPort is configured in the Seaweed CR
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: seaweedfs-operator-monitoring
rules:
  - apiGroups:
      - monitoring.coreos.com
    resources:
      - servicemonitors
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
